<% content_for :head do %>
  <title>My favorite thing - Projects news</title>
<% end%>
<!-- <div id="original"></div> -->

<div id="wrap">
  <div id="header-main-bg">
    <div id="header">
      <header>
        <h1><a href="#" id="logo">My favorite thing - Projects news</a></h1>
      </header>
      <nav>
        <ul>
          <% 6.times do %>
          <li class="nav-item"><a href="#" class="nav-link">PHOTOS</a></li>
          <% end %>
        </ul>
      </nav>
    </div> <!-- #header -->
    <div id="main">
      <div id="just-done">
        <h2 id="main-title">I HAVE JUST DONE:</h2>
        <div id="main-bg">
          <img src="/img/icons.png" alt="Icons">
          <h3><a id="last-title" href="#">oooloo icons</a></h3>
          <h4 id="last-date">03 Jan 2011</h4>
          <div id="last-more-wrap">
            <a id="last-more" href="#">view details</a>
          </div>
        </div>
        <div id="pager">
          <a href="#" id="pager-current"  class="pager-link">1</a>
          <% 4.times do |num| %>
          <a href="#" class="pager-link"><%= num+2 %></a>
          <% end %>
          <span>...</span>
          <a href="#" id="pager-next"  class="pager-link">Next 1 Works »</a>
        </div> <!-- #pager -->
      </div>
      <div id="last-photos">
        <h3 id="last-photos-title">MY LAST PHOTOS</h3>
        <img id="last-photo-img" src="/img/last-photo.png" alt="Last Photo">
        <div id="last-photos-wrap">
          <a id="last-photos-more" href="#">more pictures on my Flikr</a>
        </div>
      </div>
      <div id="last-article">
        <h3 id="last-article-title">Last Article</h3>
        <% 2.times do |num| %>
        <div class="article-item-wrap">
          <div class="article-photo-wrap">
            <img src="/img/article-<%= num+1 %>.png" alt="Article Photo">
          </div>
          <div class="article-link-wrap">
            <a class="article-link" href="#"><%= lorem.words 6 %></a>
          </div>
        </div><!-- / -->
        <% end %>
        <div id="last-article-item" class="article-item-wrap">
          <div id="last-photo" class="article-photo-wrap">
            <img src="/img/article-3.png" alt="Article Photo">
          </div>
          <div class="article-link-wrap">
            <a class="article-link" href="#"><%= lorem.words 6 %></a>
          </div>
        </div><!-- / -->
      </div> <!-- #last-article -->
    </div> <!-- #main -->
  </div> <!-- #header-main-bg -->
  <footer>
    <div id="upper-footer-bg">
      <div id="upper-footer">
        <div class="footer-item">
          <div class="footer-photo"><img class="footer-photo-pie" src="/img/taddeo.gif" alt="Taddeo"></div>
          <div class="footer-content-wrap">
            <h4>
              <a class="footer-title" href="#">Taddeo Zachini</a>
            </h4>
            <div class="footer-content">
              <a class="footer-link" href="#"><%= lorem.words 2 %></a>
            </div>
            <div class="footer-content">
              <a class="footer-link" href="#"><%= lorem.words 2 %></a>
            </div>
          </div>
        </div>
        <div class="footer-item">
          <div class="footer-photo"><img class="footer-photo-pie" src="/img/contact.gif" alt="Contacts"></div>
          <div class="footer-content-wrap">
            <h4>
              <a class="footer-title" href="#">Contacts</a>
            </h4>
            <div class="footer-content">Skype: <a class="footer-link" href="#"><%= lorem.words 2 %></a></div>
            <div class="footer-content">IM: <span class="footer-span">grapunzel[@]gmail.com</span></div>
          </div>
        </div>
        <div class="footer-item">
          <div class="footer-photo"><img class="footer-photo-pie" src="/img/where.gif" alt="Where am I?"></div>
          <div class="footer-content-wrap">
            <h4>
              <a class="footer-title" href="#">Where am I?</a>
            </h4>
            <div class="footer-content"><a id="where-link" class="footer-link" href="#">Taddeo</a> is in San Francisco until March 29th.
            </div>

          </div>
        </div>
      </div> <!-- #upper-footer -->
    </div> <!-- #upper-footer-bg -->
    <div id="downer-footer-bg">
      <div id="downer-footer">
        <div class="downer-footer-item">
          <div class="downer-footer-photo-wrap"><img class="footer-photo-pie" src="/img/taddeo-2.gif" alt="Taddeo 2"></div>
          <div class="downer-footer-content-wrap">
            <h4 class="downer-footer-title">My favorite thing 2009</h4>
            <div class="footer-content">designed by Taddeo Zacchini</div>
          </div>
        </div>
        <div class="downer-footer-item">
          <div class="downer-footer-photo-wrap"><img class="footer-photo-pie" src="/img/squarespace.gif" alt="Squarespace"></div>
          <div class="downer-footer-content-wrap">
            <h4><a href="#" class="downer-footer-link">Squarespace</a></h4>
            <div class="footer-content">built with Squarespace</div>
          </div>
        </div>
        <div id="downer-footer-info-wrap" class="downer-footer-item">
          <div class="footer-info">
            After hard work in these years to adapt the layout to all Web browsers, I decided to exclude one... If you use Explorer, I am sorry: download <a href="#" class="info-link">Firefox</a> and do a favor to all designers in the world!
          </div>
          <div class="footer-info">
            Font used for titles: <a href="#" class="info-link">Sansumi-Bold</a>, designed by <a href="#" class="info-link">Manfred Klein Fonteria</a>
          </div>
        </div>
      </div> <!-- #downer-footer -->
    </div> <!-- #downer-footer-bg -->
  </footer>
</div>
<a href="#" id="sublogo">My favorite thing</a>