<% content_for :head do %>
  <title>Guzzle.it - Latest news about stuff you care!</title>
<% end%>

<div id="header">
  <header>
    <h1>
      <a href="#" id="logo">Guzzle.it</a>
    </h1>
  </header>
  <div id="login"><%= lorem.words 7%></div>
</div> <!-- #header -->
<div id="main-bg">
  <div id="main">
    <div id="desc">
        <a href="#" id="custom-page">Custom My Page</a>
        <p id="desc-title">Welcome.</p>
        <h3 id="desc-content"><%= lorem.words 13 %></h3>
        <h4 id="desc-link"><%= lorem.words 5 %></h4>
        <a id="dont-show-message" href="#"><%= lorem.words 4 %></a>
    </div>
    <div id="headline">
      <h3 class="main-title">Headlines</h3>
      <div>
        <% 8.times do %>
        <a class="headline-link" href="#"><%= lorem.sentence %></a>
        <% end %>
      </div>
    </div>
    <div id="popular">
      <h3 class="main-title">Popular</h3>
      <div>
        <% 8.times do %>
        <a class="headline-link" href="#"><%= lorem.sentence %></a>
        <% end %>
      </div>
    </div>
    <div id="latest-images">
      <h3 class="main-title">Latest Images</h3>
      <ul>
        <% 12.times do |num| %>
        <li class="img-item"><a href="#"><img class="new-img" src="/img/latest-img-<%= num+1 %>.jpeg" alt="Latest Images <%= num+1 %>"></a></li>
        <% end %>
      </ul>
    </div>
  </div> <!-- #main -->
</div> <!-- #main-bg -->
<footer>
  <div id="source">
    <h4 class="footer-title">Source and articles</h4>
    <ul>
      <% 4.times do %>
      <li class="footer-item"><a class="footer-link" href="#"><%= lorem.words 2 %></a></li>
      <% end %>
    </ul>
  </div>
  <div id="more">
    <h4 class="footer-title">More Guzzle</h4>
    <ul>
      <% 4.times do %>
      <li class="footer-item"><a class="footer-link" href="#"><%= lorem.words 2 %></a></li>
      <% end %>
    </ul>
  </div>
  <div id="about">
    <h4 class="footer-title">More Guzzle</h4>
    <ul>
      <% 2.times do %>
      <li class="footer-item"><a class="footer-link" href="#"><%= lorem.words 2 %></a></li>
      <% end %>
    </ul>
  </div>
  <div id="copyright"><%= lorem.words 6 %></div>
  <a id="facebook" href="#"> Join us on Facebook</a>
</footer>