<% content_for :head do %>
  <title>Getfinch.com</title>
<% end %>
<!-- <div id="original"></div> -->
<div id="page-wrapper">
  <div id="sublogo"></div>
  <header>
     <h1><a id="logo" href="#">Getfinch</a></h1>
     <p id="desc"><%= lorem.sentence %></p>
  </header><!-- /header -->
  <nav>
    <ul>
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Blog</a></li>
      <li class="nav-item"><a class="nav-link" href="#">About</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
    </ul>
  </nav>
  <div id="main-wrapper">
    <div id="here">
      <div id="here-logo-wrapper">
        <h2 id="here-logo">Here</h2>
      </div>
      <h3 class="subtitle">FRESH FROM THE BLOG</h3>
      <h3 id="here-title">Long Live the Redsign</h3>
      <p id="here-content"><%= lorem.sentences 3 %></p>
      <a href="#" id="here-more">CONTINUE READING</a>
    </div>
    <div id="there">
      <div id="there-logo-wrapper">
        <h2 id="there-logo">There</h2>
      </div>
      <h3 id="there-subtitle" class="subtitle">PUBLISHED ARTICLES</h3>
      <% 5.times do %>
        <h3 class="there-title"><%= lorem.words 3 %></h3>
        <h4 class="there-subtitle"><%= lorem.words 4 %></h4>
      <% end %>
    </div>
    <div id="about">
      <div id="about-logo-wrapper">
        <h2 id="about-logo">About</h2>
      </div>
      <h3 class="subtitle">BEHIND THE MYSTERY</h3>
      <p id="about-content"><%= lorem.sentences 6 %></p>
    </div>
    <div id="share">
      <ul>
        <li class="share-item"><a href="#" id="share-twitter" >Twitter</a></li>
        <li class="share-item"><a href="#" id="share-rss" >RSS</a></li>
        <li class="share-item"><a href="#" id="share-dribble" >Dribble</a></li>
      </ul>
    </div>
  </div> <!-- #main-wrapper -->
  <footer>
    <div id="copyright"><%= lorem.words 6 %><span id="footer-warning">BE ORIGINAL</span></div>
    <div id="smashing"></div>
  </footer>
</div> <!-- #page-wrapper -->
